@inherits LayoutComponentBase
@using Bless.Booking.App.Components.Pages

<Bless.Booking.App.Components.Pages.Header></Bless.Booking.App.Components.Pages.Header>
<div class="page">
    <main>
        @Body
    </main>
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<Bless.Booking.App.Components.Pages.Footer></Bless.Booking.App.Components.Pages.Footer>
