/* ------------ AgendarCitasComponent ------------ */

.appointment-section .form-control,
.appointment-section .form-select {
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1rem;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    z-index: 1040;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 1050;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------ ReviewsComponent ------------ */

.review-card {
    height: 100%;
    min-height: 350px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid #ccc; /* Bordes más visibles */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15); /* Sombra más fuerte */
    padding: 1.5rem;
    overflow: hidden;
}

    .review-card p {
        flex-grow: 1;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

