@page "/test"

@rendermode InteractiveServer
@using Bless.Proxy

@inject BookingHub SignalR

<div style="margin-top: 5rem;">
    <h3>Notificación:</h3>
    <p>@mensaje</p>
</div>

@code {
    private string mensaje = "";

    protected override async Task OnInitializedAsync()
    {
        SignalR.OnNotificacionRecibida += async (msg) =>
        {
            mensaje = msg;
            await InvokeAsync(StateHasChanged);
        };

        await SignalR.ConectarAsync();
    }
}
