

@* 
<h1>Test Button Component</h1>

<button type="button" @onclick="OnClick">Haz clic</button>

<p>@message</p>

@code {
    private string message = "No clic";

    private void OnClick()
    {
        message = "¡Clic detectado!";
    }
}
 *@