.review-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* centra todo horizontalmente */
    height: 100%;
    min-height: 350px;
    max-height: 350px;
    overflow: hidden;
    padding: 1.5rem;
    text-align: center;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

    .review-card img {
        display: block;
        margin-bottom: 1rem;
    }

    .review-card p {
        flex-grow: 1;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
